footer{
    background: $color-principal;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(124,124,124,0.5270483193277311) 50%, rgba(98,203,240,1) 100%);
    .logo-y-redes{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .redes{
            a{
                text-decoration: none;
                img{
                    @include tamaños (50px, 50px);
                    margin: 20px;
                }
            }
        }
    }
    .end{
        text-align: center;
        padding-bottom: 15px;
        a{
            color: $color-secundario;
            text-decoration: none;
            margin: 15px;
        }
    }
}