@import "../base/variables";
header{
    background:$color-principal;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(124,124,124,0.5270483193277311) 50%, rgba(98,203,240,1) 100%);
    background-size: auto;
    top: 0;
    @include tamaños (100%, 163px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav{
        ul{
            display: flex;
            list-style: none;
            li{
                margin: 15px;
                a{
                    text-decoration: none;
                    color: $color-secundario;
                    transition-duration: 1s;
                    &:hover{
                        color: $color-hover-enlaces;
                    }
                }
            }
        }
    }
}