/*-----MEDIA QUERY-----*/
/*-----INDEX----*/  
@media screen and (max-width:1250px){
    .productos .productos-contenedor div{
        width: 250px;
        height: 350px;}
    .enlaces div{
        width: 450px;
        height: 350px;}
}

@media screen and (max-width:920px){
    .enlaces div{
        width: 350px;
        height: 250px;}
}


@media screen and (max-width:880px){
    header{
        flex-direction: column;
        height: auto;
        }
    }

@media screen and (max-width:815px){
    .producto-3{
        display: none;}
}

@media screen and (max-width:700px){
    footer .logo-y-redes{
        flex-direction: column;}
}

@media screen and (max-width:539px){
    .hero h1{font-size: 40px;}
    .producto-3{display: block;}

}

@media screen and (max-width:505px){
    .take-over h2{font-size: 30px;}
}


@media screen and (max-width:500px){
    header nav div ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    header nav div ul li{
        margin: 5px;
    }
    .logo{
        width: 100%;
    }
}

@media screen and (max-width:445px){
    .productos h2{
        font-size: 25px;
    }
    .take-over h2{
        font-size: 25px;
    }
}

@media screen and (max-width:400px){
    .hero h1{
        font-size: 30px;
    }
}

@media screen and (max-width:360px){
    footer .end a{
        margin: 5px;
    }
}

@media screen and (max-width:285px){
    footer .redes img{
        margin: 10px;
    }
}

/*-----NOSOTROS-----*/

@media screen and (max-width:915px){
    .header-nosotros{
        flex-direction: column;
        height: auto;
    }
}

@media screen and (max-width:900px){
    .grid-section-nosotros{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 350px;
    }
    .como-empezo{
        grid-column: 1/2;
    }
    .como-empezo-img{
        grid-column: 2/3;
    }
    .mision-img{
        grid-column: 1/2;
    }
    .mision{
        grid-column: 2/3;
    }
    .take-over-nosotros{
        grid-column: 1/2;
    }
    .take-over-img{
        grid-column: 2/3;
    }
}    

@media screen and (max-width:865px){
    .grid-section-nosotros{
        grid-auto-rows: 425px;
    }
}

@media screen and (max-width:700px){
    .grid-section-nosotros{
        grid-template-columns: 1fr;
        grid-template-rows: repeat (6,300px);
    }
    .como-empezo{
        grid-column: 1/3;
    }
    .como-empezo-img{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .mision-img{
        grid-column: 1/3;
        grid-row: 4/5;
    }
    .mision{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .take-over-nosotros{
        grid-column: 1/3;
        grid-row: 5/6;
    }
    .take-over-img{
        grid-column: 1/3;
        grid-row:  6/7;
    }
}    

@media screen and (max-width:500px){
    .header-nosotros nav div ul{
            flex-direction: column;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        .logo{
            width: 100%;
        }
    }
@media screen and (max-width:350px){
    .header-nosotros{
        margin-bottom: 50px;
    }
    .como-empezo-img{
        margin-top: 50px;
    }
}

/*-----TRAINING-----*/

@media screen and (max-width:1250px){
    .training .productos-training div{
        width: 250px;
        height: 350px;}
}


@media screen and (max-width:1024px){
    .training h2{
        padding: 50px 10px 50px 10px;
    }
}

/*-----INDUMENTARIA-----*/

@media screen and (max-width:425px){
    section .banner-men-women{
        height: 350px;
    }
    .nuevo{
        h2{
            font-size: 20px;
            padding: 25px 10px 25px 10px;    
        }
    }
    .indumentaria-men-women{
        h2{
            font-size: 20px;
            padding: 25px 10px 25px 10px;   
        }
    }
}

/*-----CONTACTO-----*/

@media screen and (max-width:1024px){
    .contacto{
        div{
            div{
                h2{
                    font-size: 25px;
                    padding: 5px;
                }
                h3{
                    font-size: 20px;
                    padding: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:780px){
    .contacto{
        div{
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
}