//! Variables
//! Es como los programadores le dan nombre a un valor para poder reutilizarlo, actualizarlo o simplemtente registrarlo
//*PALETA DE COLORES*/
$color-principal:rgb(255, 255, 255);
$color-secundario: black;
$color-hover-enlaces: rgba(0, 0, 0, 0.39);

// ej:colores de parrafos, color de fondo, tamaños de las letras, estilos de letras, etc, lo que necesite

//! LISTAS : variable que me va a ocupar mas de un valor en su interior

$font-size:
10px,
15px,
25px,
35px,
50px;

//! EXTENDS : me permite traer un bloque de código (grupo de propiedades) para poder incorporarlo en mi proyecto
// % = placeholder
// con este simbolo llamamos a los extends

%flex-para-grids-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-para-tarjetas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

//! MIXINS : es como un extend pero mas flexible, podes ir cambiando los valores de las propiedades

@mixin tamaños($width, $height){
    width: $width;
    height: $height;
}

